body {
    background-color: lightblue;
}

#earth {
    width: 350px;
}

#button {
    width: 150px;
}

.container {
    display: flex;
    justify-content: center;
}

.container2 {
    display: flex;
    justify-content: center;
}